<!-- Google button code in templates/auth/google_button.html -->
<!-- Google button can be moved in templates/components/nav.html -->
      <script src="https://accounts.google.com/gsi/client" defer></script>
      <div id="googleLogin"></div>
      <script>
      window.onload = function () {
          //localStorage.removeItem("gToken"); //force log out. for debugging only.
          if ( localStorage.getItem("gToken") != null ) {
              var gToken = localStorage.getItem("gToken");
              console.log("Found previously stored gToken: " + gToken);
              var gProfile = decodeJwtResponse(gToken);
              if ( gProfile["name"] ) {
                  console.log(profile["name"] + ' is signed in.');
                  buildSignOut(gProfile); // sets the signout button on the page.
              } else {
                  console.log(gProfile["error"] + " User will need to log in again.");
                  googInit();
                  google.accounts.id.prompt(); // also display the One Tap dialog
              }
          } else {
              console.log("There is no token in session storage.  User will need to log in again.")
              googInit();
              google.accounts.id.prompt(); // also display the One Tap dialog
          }
      }
       
      function googInit() {
          google.accounts.id.initialize({
              client_id: "{{ env.GOOGLE_CLIENT_ID }}",
              callback: handleCredentialResponse
          });
          google.accounts.id.renderButton(
              document.getElementById("googleLogin"),
              { theme: "filled_black", size: "large", logo_alignment: "center"} 
          );
      }
          
      function decodeJwtResponse (token) {
          // If token hasn't expired, return profile info.  Otherwise, sign out the user.
          var base64Url = token.split('.')[1];
          var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
          var jsonPayload = decodeURIComponent(window.atob(base64).split('').map(function(c) {
              return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
          }).join(''));
          profile = JSON.parse(jsonPayload);
          exp = profile['exp']*1000 // convert jwt 'exp', which is in seconds, to milliseconds.
          if ( exp > Date.now() ) {
              var minutesLeft = Math.floor((exp - Date.now()) / 60000);
              console.log('gToken is valid for another ' + minutesLeft + ' minutes.');
              return profile;
          } else {
              signOut();
              return {"error": "The token has expired."}
          }
      }

      function handleCredentialResponse(response) {
          localStorage.setItem("gToken", response.credential);
          console.log('localStorage.getItem("gToken") = ' + localStorage.getItem("gToken"));
          document.cookie = "gToken="+response.credential+"; max-age=3600; path=/;" // 1 hour cookie
          //const responsePayload = decodeJwtResponse(response.credential);
          //buildSignOut(responsePayload);
          location.reload();
      }
          
      function buildSignOut(gProfile) {
          // same code as below to add user avatar.  Just use 'picture' in place of 'name' and style.
          var name = ""
          if (gProfile["name"] != null) {
              var name = gProfile["name"];
          }
          const signOutButton = '<li><a href="#" onclick="signOut()">Sign out '+name+'</a></li>';
          document.getElementById('googleLogin').innerHTML = signOutButton;
      }
          
      function signOut() {
          localStorage.removeItem("gToken"); // deletes token from local storage
          localStorage.removeItem("menuHTML"); // deletes authorized (admin) menu
          document.cookie = 'gToken=; Max-Age=-99999999; path=/;'; // deletes cookie
          //googInit();
          location.reload();
      }
      
      </script>