{% set version = '0.0.11' %}

<!doctype html>
<html lang="en">
  <head>
    {% include "components/head.html" %}
    {% block head %}
    {% endblock %}
  </head>
  <body>
    
    {% include "components/nav.html" %}  
      
    <div id="main" style="min-height: 65vh;"> 
    {% block container %}{% endblock %}
    </div>

    {% include "components/footer.html" %}
    {% block foot %}
    {% endblock %}
  </body>
</html>