<!-- components/footer.html -->
<div style="height:80px;"></div>
<footer>
    <div>
        <span> © {{ strftime(now, '%Y') }}, You. All Rights Reserved. </span>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</footer>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>