<!-- components/head.html -->
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="{{ url_for('static', filename='js/custom.js') }}?v={{ version }}" id="customJS"></script>

<!-- styles -->
  <script src="https://cdn.tailwindcss.com"></script> 
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Marcellus' rel='stylesheet'>
  <style type="text/tailwindcss">
@layer base {
    body {@apply bg-white text-slate-800 dark:bg-gray-900 dark:text-slate-300;}
    nav {@apply border-slate-200 bg-slate-100 dark:bg-slate-800 dark:border-slate-700 fixed w-full 
        z-20 top-0 start-0 border-b}
    #nav-container {@apply max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4;}
    #nav-burger {@apply inline-flex items-center justify-center p-2 w-10 h-10 text-sm 
        text-gray-500 rounded-lg hover:bg-gray-200 focus:outline-none focus:ring-2 
        focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600}
    nav ul {@apply flex flex-col mt-4 rounded-lg bg-gray-100 dark:bg-gray-800 
        dark:border-gray-700}
    #nav-burger-menu a {@apply block py-2 px-3 text-gray-900 rounded hover:bg-gray-200 
        dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white hover:no-underline;}
    #bug {@apply flex items-center space-x-3 rtl:space-x-reverse mr-3}
    #bug span {@apply self-center text-3xl whitespace-nowrap dark:text-white}
    #main {@apply max-w-screen-xl mx-auto px-4 subpixel-antialiased text-xl dark:text-lg; 
        font-family: Marcellus, serif; letter-spacing: .05em;}
    strong {@apply font-bold}
    h2,h3,h4 {@apply font-black pt-10; font-family: 'Open Sans';}
    h1 {@apply text-5xl; font-family: 'Open Sans';}
    h2 {@apply text-3xl;}
    h3 {@apply text-2xl;}
    h4 {@apply text-xl text-slate-700 dark:text-slate-400 italic;}
    sub {@apply text-slate-500;}
    #main p {@apply pt-3;}
    #main ol {@apply space-y-1 ml-6 mt-5 list-decimal list-outside;}
    pre {@apply border-l-2 pl-8 border-blue-700 dark:border-blue-400 mx-1 my-8 py-4 block 
        text-lg dark:bg-gradient-to-r dark:from-slate-800 dark:to-transparent dark:to-70% 
        bg-gradient-to-r from-slate-200 to-transparent to-70% text-base; 
        font-family: "Courier New", Courier, "Lucida Typewriter", monospace;}
    p a, #main li a, sub a {@apply text-blue-700 dark:text-blue-400 hover:underline font-bold;}
    input, select {@apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
        focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 
        dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 
        dark:focus:border-blue-500 mt-2;}
    button {@apply border border-gray-500 bg-gray-700 hover:bg-gray-900 text-white font-bold 
        py-2 mt-0 px-4 rounded-lg text-base;}
    footer {@apply bg-gray-100 rounded-lg shadow m-4 dark:bg-gray-800;}
    footer a {@apply hover:underline ms-4 md:ms-6;}
    footer span {@apply text-sm text-gray-500 sm:text-center dark:text-gray-400;}
    footer ul {@apply flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 
        dark:text-gray-400 sm:mt-0;}
    footer div {@apply w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center 
        md:justify-between;}
}
  </style>

<!-- traditional favicon -->
<!--<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" sizes="64x64" />-->

<!-- svg-based favicon -->
    <link rel="icon" href="{{ url_for('static', filename='img/logo.svg') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='img/logo.svg') }}" color="#000000">