<!-- components/nav.html -->
<nav>
  <div id="nav-container">
    
    <!-- Hamburger menu toggle -->
    <button id="nav-burger" data-collapse-toggle="nav-burger-menu" type="button" 
            aria-controls="nav-burger-menu" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" 
           xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" 
                stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>
      
    <!-- Logo and site name -->
    <a id="bug" href="/">
        <img class="h-8" alt="Python Logo" src="https://s3.dualstack.us-east-2.amazonaws.com/pythondotorg-assets/media/files/python-logo-only.svg"/>
        <span>fart</span>
    </a>
      
    <!-- Hamburger menu items -->
    <div class="hidden w-full" id="nav-burger-menu">
      <ul>
          
      <!-- These menu items are built from the filenames in the docs/ folder. -->
      {% for pubLink in pubLinks %}
        <li><a href="/public/{{ pubLink.link }}/">{{ pubLink.label }}</a></li>
      {% endfor %}
      
      <!-- Auth links & signout governed by: templates/components/auth/google_button.html -->
      {% if env.GOOGLE_CLIENT_ID %}
          {% if request.cookies.get("gToken") %}
          <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700">
          {% for regLink in regLinks %}
            <li><a href="/user/{{ regLink.link }}/">{{ regLink.label }}</a></li>
          {% endfor %}
          <span id="authorizedLinks"></span>
          {% endif %}
          {% include "components/auth/google_button.html" %}
      {% endif %}
          
      </ul>
    </div>
      
  </div>
</nav>
<div style="height:100px;"></div>